:local {

	.button {
		@include font-regular();
		font-size: 16px;
		line-height: 24px;
		color: $colorWhite;
		white-space: nowrap;
		text-decoration: none;
		background: linear-gradient(darken($colorSecond, 15%), darken($colorSecond, 25%) 50%);
		padding: 10px 20px;
		border-radius: 5px;
		cursor: pointer;
		transition: all 0.2s ease;
		outline: none;
		border: none;

		@include adaptive(tablet) {
			font-size: 20px;
		}

		&:hover {
			box-shadow: 0 0 0 1px $colorWhite;
		}

		&:active {
			color: transparentize($colorWhite, 0.5);
		}

	}
}