:local {

	.button {
		@include font-regular();
		font-size: 16px;
		line-height: 3;
		width: 100%;
		height: 48px;
		box-sizing: border-box;
		color: $colorWhite;
		white-space: nowrap;
		text-decoration: none;
		background: linear-gradient(darken($colorSecond, 15%), darken($colorSecond, 25%) 50%);
		border-radius: 5px;
		cursor: pointer;
		transition: all 0.2s ease;
		outline: none;
		border: none;

		&:hover {
			box-shadow: 0 0 0 1px $colorWhite;
		}

		&:active {
			color: transparentize($colorWhite, 0.5);
			box-shadow: 0 0 0 1px $colorWhite;
		}

		&:disabled {
			background: linear-gradient(darken($colorGrey, 15%), darken($colorGrey, 25%) 50%);
		}

	}
}