@font-face {
	font-family: "Roboto";
	font-style: normal;
	src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: "RobotoLight";
	src: url('./fonts/Roboto-Light.ttf');
}

@font-face {
	font-family: "RobotoThin";
	src: url('./fonts/Roboto-Thin.ttf');
}

@font-face {
	font-family: "RobotoMedium";
	src: url('./fonts/Roboto-Medium.ttf');
}

@font-face {
	font-family: "RobotoBold";
	src: url('./fonts/Roboto-Bold.ttf');
}


:global {

	* {
		-webkit-tap-highlight-color: transparent;
	}

	body {
		min-width: 220px;
		overflow: auto;
		font-weight: normal;
	}

	button,
	input,
	body {
		font-family: "Roboto", 'Helvetica Neue', Arial, sans-serif;
	}

	a,
	input,
	button {
		outline: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	input,
	body,
	button {
		margin: 0;
		padding: 0;
	}

	img,
	button {
		border: 0;
	}

	main {
		position: relative;
	}


	fieldset {
		border: 0;
		padding: 0;
	}

	section {
		overflow: hidden;
		margin-top: 0;
	}

	a {
		text-decoration: none;
		color: darken($colorMain, 20%);
		@include font-thin;
	}

	.alert {
		text-align: center;
		color: $colorWhite;
		padding: 20px 100px;
		display: inline-block;
	}

	.alert-danger {
		background: $colorSecond;
	}

	.alert-success {
		background: $colorSecond;
	}

	.alert-info {
		background: $colorSecond;
	}

	.message {
		margin: 0 auto 40px;
		text-align: center;
	}
}

:local {

	.application {
		text-align: center;
		color: $colorGrey;

		&__logo {
			animation: spin infinite 20s linear;
			height: 80px;
		}

		&__header {
			background-color: darken($colorGrey, 20%);
			height: 150px;
			padding: 20px;
			color: white;
		}

		&__intro {
			font-size: large;
		}
	}

	@keyframes :local(spin) {

		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(360deg);
		}
	}
}

