/* Colors */

// Main colors

$colorMain: #0073d1;
$colorSecond: #d22856;

$colorGrey: #cccccc;

$colorBlack: #000000;
$colorWhite: #ffffff;

// Icon colors

$colorIconMain: #0073d1;
$colorIconSecond: #00c5f0;
$colorIconThird: #dedde0;
$colorIconFourth: #acabb1;


// Pixels

$tinyPadding: 5px;
$lowPadding: 10px;
$mainPadding: 15px;