//Colors

$clr-darkblue: #18364a;
$clr-darkblue-1: #1d2631;
$clr-darkblue-2: #283645;
$clr-very-darkblue: #020d15;
$clr-blue-gray: #071721;
$clr-blue-grey: #7d909d;

$clr-purple: #010028;

$clr-white: #ffffff;

$clr-lightgrey: #f2f2f2;
$clr-lightgrey-1: #eeeeee;
$clr-lightgrey-2: #e5e5e5;
$clr-grey: #cccccc;
$clr-grey-2: #666c72;

$clr-black: #000000;

$no-bg-color: transparent;

$clr-pink: #3571a3;
$clr-red: #d22856;

$clr-green: #58d298;

$clr-blue: #63b2d2;


