// Colors

$clr-white: #ffffff;
$clr-black: #000000;
$clr-purple: #010028;
$clr-red: #d22856;


//Media queries
$mobile-width: 321px;
$tablet-width: 700px;
$desktop-width: 1200px;
$desktop-ext-width: 1366px;
$desktop-mac-width: 1440px;
$desktop-extra-width: 1600px;
$retina-res: "min-resolution: 144dpi";
$retina-dpi: "min-resolution: 1.5dppx";

//Mixins

@mixin font-regular() {
	font-family: "Roboto", 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
}

@mixin font-light() {
	font-family: "RobotoLight", 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
}

@mixin font-thin() {
	font-family: "RobotoThin", 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
}

@mixin font-medium() {
	font-family: "RobotoMedium", 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
}

@mixin font-bold() {
	font-family: "RobotoBold", 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
}

@mixin adaptive($media) {
	@if $media == mobile {
		@media (max-width: $mobile-width) {
			@content;
		}
	}
	@if $media == tablet {
		@media (min-width: $tablet-width) {
			@content;
		}
	}
	@if $media == desktop {
		@media (min-width: $desktop-width) {
			@content;
		}
	}
	@if $media == desktop-mac-width {
		@media (min-width: $desktop-width) {
			@content;
		}
	}
	@if $media == desktop-ext {
		@media (min-width: $desktop-ext-width) {
			@content;
		}
	}
	@if $media == desktop-extra {
		@media (min-width: $desktop-extra-width) {
			@content;
		}
	}
	@if $media == retina {
		@media ($retina-res), ($retina-dpi) {
			@content;
		}
	}
}

@mixin bg-images($item, $source) {
	@for $i from 1 to 31 {
		.#{$item}-#{$i} {
			background: url('#{$source}-#{$i}.jpg') no-repeat center;
			background-size: cover;
		}
	}
}



