:local {

	.nav {

		&__menu {
			margin: 0;
			padding: 0 20px;
			max-width: 180px;
			background: lighten($colorGrey, 18%);
			height: 100%;
		}

		&__menu-item {
			position: relative;
			list-style: none;
			text-align: left;
			border-bottom: 1px solid $colorGrey;
			padding: 20px 0;
			font-size: 14px;
			display: flex;
			align-items: center;
		}

		&__icon {
			fill: $colorIconMain;
			width: 20px;
			height: 20px;
			margin-right: 5px;
		}
	}
}