:local {

	.page-headers {
		padding: 7vh 20px 25vh;
		color: $clr-white;
		position: relative;
		z-index: 2;

		&__buttons {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}

		&__button {

			&:not(:first-child) {
				margin-top: 10px;
			}
		}

		&__h1 {
			position: relative;
			@include font-light();
			font-size: 6.5vh;
			line-height: 6.5vh;
			color: $clr-white;

			span {
				color: $clr-pink;
			}

			&::after {
				content: '';
				position: absolute;
				bottom: -16px;
				left: 30%;
				right: 30%;
				height: 2px;
				background-color: $clr-pink;
				@include adaptive(tablet) {
					bottom: -15px;
					left: 50%;
					margin-left: -25px;
					width: 50px;
					height: 2px;
				}
			}
		}

		&__text {
			@include font-thin();
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 45px;
		}

		&__h2 {
			@include font-thin();
			font-size: 18px;
			line-height: 30px;
			margin-top: 0;

			@include adaptive(tablet) {
				font-size: 24px;
			}
		}
	}
}