:local {

	.page-headers {
		color: $colorWhite;
		position: relative;

		&__content {
			padding: 15px 0;
		}

		&__buttons {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 15px 1px;
		}

		&__button {

			&:not(:first-child) {
				margin-top: 20px;
			}
		}

		&__span {
			color: $colorSecond;
		}

		&__h1 {
			color: $colorWhite;
			margin: 30px 0;
		}

		&__text {
			@include font-thin();
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 45px;
		}
	}
}