:local {

	.main {
		padding-top: 48px;

		&__content {
			padding: 0 $mainPadding;
		}

		&__header {
			background: linear-gradient(transparentize(darken($colorMain, 20%), 0.3), transparentize(darken($colorMain, 20%), 0.3)), url('./img/bg-full-1.jpg') center no-repeat;
			background-size: cover;
			height: calc(100vh - 48px);
		}

		&__form {
			padding: 15px 0;
		}

		&__form-header {
			margin: 0 0 15px;
		}

	}
}