:local {

	.main {
		padding-top: 48px;

		&__content {
			padding: $mainPadding;
		}

		&__header {
			background: linear-gradient(transparentize(darken($colorMain, 20%), 0.3), transparentize(darken($colorMain, 20%), 0.3)), url('./img/bg-full-1.jpg') center no-repeat;
			background-size: cover;
			height: calc(100vh - 48px);
		}
	}
}