:local {

	.headers {
		color: inherit;
		@include font-light();
		line-height: 1.2;

		&__h1 {
			font-size: 30px;
		}

		&__h2 {
			font-size: 24px;
		}

		&__h3 {
			font-size: 20px;
		}

		&__h4 {
			font-size: 18px;
		}

		&__h5 {
			font-size: 16px;
		}

		&__h6 {
			font-size: 14px;
		}
	}
}