:local {

	.svg-icons {
		width: 20px;
		height: 20px;

		&__logo {

			& > .st0 {
				fill: $colorIconMain;
			}
			& > .st1 {
				fill: $colorIconSecond;
			}
			& > .st2 {
				fill: $colorIconThird;
			}
			& > .st3 {
				fill: $colorIconFourth;
			}

			&_full {
				width: 76px;
				height: 38px;

				& > .st4 {
					fill: url('#firstLine');
				}

				& > .st5 {
					fill: url('#secondLine');
				}

				& > .st6 {
					fill: url('#thirdLine');
				}
			}
		}
	}
}