:local {

	.header {
		position: relative;
		text-align: center;

		&__logo {
			display: flex;
			flex-basis: 100%;
			padding: $tinyPadding $mainPadding;
			justify-content: space-between;
		}
	}
}
